{% extends 'base.html' %} {% block content %}

<div>
  <div>
    {% for job in jobs %}

    <div class="max-w-[800px] mx-auto flex space-y-4">
      <div class="mr-7">
        <img src="{{job.job_company.profile_image.url}}" alt="" />
      </div>

      <div class="space-y-3">
        <h1 class="text-xl">
          <a href="{% url 'root:job-details' job.slug %}">{{job.job_title}}</a>
        </h1>
        <div>
          <p>Salary:- <span>{{job.job_salary}}</span></p>
          <div class="p-1 bg-[#9BA3EB]">
            {{job.job_start_date}} to {{job.job_end_date}}
          </div>

          <p>{{job.job_type}}</p>
          <p>job working hours {{job.job_working_hour}}</p>
          <p>Experience {{job.job_expreience}}</p>
          <p>company name {{job.job_company.first_name}}</p>
          <p>job status {{job.job_status}}</p>
          <p>publish date {{job.job_creations_date}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}
